.benefits__thumb {
	@include respond-to(tablet) {
		display: flex;
		flex-wrap: wrap;
		margin: -15px;
	}
	@include respond-to(dekstop) {
		flex-wrap: nowrap;
		flex-direction: row;
	}
}
.benefits__title {
	text-align: center;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.1;
}
.benefits__info {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.8;
	color: $sec-active-color;
	margin-top: 10px;
	letter-spacing: 0.03em;
}
.benefits__description {
	@include respond-to(tablet) {
		margin: 15px;
		flex-basis: calc((100% - 60px) / 2);
		justify-content: center;
	}
}
.benefits__description:not(:last-child) {
	margin-bottom: 30px;
	@include respond-to(dekstop) {
		margin-bottom: 0;
	}
}
.benefits__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 120px;
	background-color: #f5f4fa;
	margin-bottom: 15px;
}

.benefits__title {
	@include respond-to(dekstop) {
		text-align: start;
		font-weight: 700;
		font-size: 14px;
		line-height: 1.1;
		margin-right: 30px;
	}
}
.benefits__description {
	@include respond-to(dekstop) {
		margin-right: 30px;
		width: 270px;
	}
}
.benefits__info {
	@include respond-to(dekstop) {
		font-weight: 400;
		font-size: 14px;
		line-height: 1.8;
		color: $sec-active-color;
		padding-top: 10px;
		letter-spacing: 0.03em;
	}
}
.benefits__description:last-child {
	@include respond-to(dekstop) {
		margin-right: 0;
	}
}
.benefits__icon {
	@include respond-to(dekstop) {
		width: 270px;
		height: 120px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 30px;
		background-color: #f5f4fa;
	}
}
