.benefits__thumb {
	@include respond-to(mobile) {
		display: flex;
		flex-direction: column;
	}
}
.benefits__title {
	@include respond-to(mobile) {
		text-align: center;
		font-weight: 700px;
		font-size: 14px;
		line-height: 1.1;
	}
}
.benefits__info {
	@include respond-to(mobile) {
		font-weight: 400px;
		font-size: 14px;
		line-height: 1.8;
		color: $sec-active-color;
		padding-top: 10px;
		letter-spacing: 0.03em;
		margin-bottom: 30px;
	}
}
.benefits__description {
	@include respond-to(mobile) {
		max-width: 450px;
	}
}
.benefits__icon {
	@include respond-to(mobile) {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 450px;
		height: 120px;
		background-color: #f5f4fa;
		margin-bottom: 15px;
	}
}

.benefits__thumb {
	@include respond-to(dekstop) {
		display: flex;
		flex-wrap: nowrap;
		flex-direction: row;
	}
}
.benefits__title {
	@include respond-to(dekstop) {
		text-align: start;
		font-weight: 700px;
		font-size: 14px;
		line-height: 1.1;
		margin-right: 30px;
	}
}
.benefits__description {
	@include respond-to(dekstop) {
		margin-right: 30px;
		width: 270px;
	}
}
.benefits__info {
	@include respond-to(dekstop) {
		font-weight: 400px;
		font-size: 14px;
		line-height: 1.8;
		color: $sec-active-color;
		padding-top: 10px;
		letter-spacing: 0.03em;
	}
}
.benefits__description:last-child {
	@include respond-to(dekstop) {
		margin-right: 0;
	}
}
.benefits__icon {
	@include respond-to(dekstop) {
		width: 270px;
		height: 120px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 30px;
		background-color: #f5f4fa;
	}
}
