.backdrop {
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.2);
	opacity: 0.25ms;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
}

.modal {
	@include respond-to(dekstop) {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 528px;
		min-height: 580px;
		background-color: #ffffff;
		box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
		border-radius: 4px;
		padding: 40px;
		transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}
	@include respond-to(mobile) {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 450px;
		min-height: 609px;
		background-color: #ffffff;
		box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
		border-radius: 4px;
		padding: 40px;
		transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}
}

.modal-cross {
	position: absolute;
	width: 30px;
	height: 30px;
	background-color: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	cursor: pointer;
	top: 8px;
	right: 8px;
	transition: 0.3s linear color;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-cross:hover {
	fill: #2196f3;
	background-color: #fff;
}

.modal-form {
	margin-top: 12px;
}

.modal-headline {
	font-weight: bold;
	font-size: 20px;
	line-height: 1.2;
	text-align: center;
	letter-spacing: 0.03em;
}

.close-cross {
	width: 11px;
	height: 11px;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-input {
	color: rgba(255, 255, 255, 0.6);
}

.form-input-box {
	display: block;
	margin-bottom: 10px;
	color: #757575;
	font-size: 12px;
	position: relative;
}

.form-input,
.form-message {
	width: 100%;
	height: 40px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	margin-top: 4px;
	padding: 0 11px 0 40px;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus,
.form-message:focus {
	outline: none;
	border: 1px solid #2196f3;
}

.form-input:focus + svg {
	fill: #2196f3;
}

.form-input-icon {
	display: block;
	width: 18px;
	height: 18px;
	position: absolute;
	top: 50%;
	left: 12px;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-message {
	@include respond-to(dekstop) {
		font-family: inherit;
		resize: none;
		height: 120px;
		width: 450px;
		padding: 12px 16px;
	}
	@include respond-to(mobile) {
		font-family: inherit;
		resize: none;
		height: 120px;
		padding: 12px 16px;
		width: 370px;
	}
}

.form-message::placeholder {
	color: rgba(117, 117, 117, 0.5);
}

.policy-box {
	@include respond-to(dekstop) {
		font-size: 14px;
		line-height: 1.7;
		color: #757575;
		display: flex;
		margin-bottom: 20px;
		align-items: center;
	}
	@include respond-to(mobile) {
		font-weight: normal;
		font-size: 14px;
		line-height: 24px;
		letter-spacing: 0.03em;
		color: #757575;
	}
}

.policy-box:before {
	content: "";
	width: 16px;
	height: 15px;
	border: 1px solid #212121;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	margin-right: 9px;
}

.policy-checkbox:checked + .policy-box::before {
	background-color: #2196f3;
	background-image: url(../images/checkbox.svg);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: contain;
	background-size: contain;
}

.policy-checkbox:focus + .policy-box::before {
	border: 1px solid #2196f3;
}

.policy-box a {
	color: #2196f3;
	text-decoration: underline;
}

.policy-checkbox {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.form-submit-button {
	margin: 0 auto;
	font-size: 16px;
	line-height: 1.9;
	letter-spacing: 0.06em;
	color: #ffffff;
	display: block;
	align-items: center;
	text-align: center;
	justify-content: center;

	width: 200px;
	height: 50px;
	background: #188ce8;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
}
