.portfolio__buttons {
	display: flex;
	flex-wrap: wrap;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.6;
	letter-spacing: 0.03em;
	margin-bottom: 50px;
	@include respond-to(tablet) {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		font-weight: 500;
		font-size: 16px;
		line-height: 1.6;
		letter-spacing: 0.03em;
		display: flex;
		justify-content: center;
		margin-bottom: 50px;
	}
}
.portfolio__option-button {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.6;
	letter-spacing: 0.03em;
	padding: 6px 22px;
	border-radius: 4px;
	margin-right: 8px;
	margin-bottom: 15px;
	&:hover {
		background-color: $active-color;
		color: #fff;
		transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}
}
