.team {
	margin-top: 30px;
	@include respond-to(tablet) {
		display: flex;
		flex-wrap: wrap;
	}
	@include respond-to(dekstop) {
		display: flex;
		flex-wrap: nowrap;
	}
}
.team__thumb {
	margin-left: 15px;
}
.team__section {
	background-color: #f5f4fa;
}
.team__members {
	margin-bottom: 30px;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
	@include respond-to(tablet) {
		margin-bottom: 30px;
		flex-basis: calc((100% - 4 * 30px) / 2);
		height: auto;
		justify-content: center;
	}
}
.team__members:nth-child(odd) {
	@include respond-to(tablet) {
		margin-right: 30px;
	}
}
.team__thumb {
	padding-top: 30px;
	padding-bottom: 30px;
}
.team__name {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.9;
}
.team__job {
	font-size: 16px;
	line-height: 1.9;
	color: #757575;
	margin-bottom: 16px;
}
.team__social-links {
	display: flex;
	justify-content: center;
}
.team__member-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	fill: #afb1b8;
	background: rgba(255, 255, 255, 0.1);
	&:hover,
	&:focus {
		background: $active-color;
		fill: #fff;
		transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}
}

.team {
	@include respond-to(dekstop) {
		display: flex;
	}
}

.team__section {
	@include respond-to(dekstop) {
		background-color: #f5f4fa;
	}
}
.team__members {
	@include respond-to(dekstop) {
		text-align: center;
		background-color: #fff;
		box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
		border-radius: 0px 0px 4px 4px;
	}
}
.team__members:not(:last-child) {
	@include respond-to(dekstop) {
		margin-right: 30px;
	}
}
.team__thumb {
	@include respond-to(dekstop) {
		padding-top: 30px;
		padding-bottom: 30px;
	}
}
.team__name {
	@include respond-to(dekstop) {
		font-weight: 500;
		font-size: 16px;
		line-height: 1.9;
	}
}
.team__job {
	@include respond-to(dekstop) {
		font-size: 16px;
		line-height: 1.9;
		color: #757575;
		margin-bottom: 16px;
	}
}
.team__social-links {
	@include respond-to(dekstop) {
		display: flex;
		justify-content: center;
	}
}
.team__member-link {
	@include respond-to(dekstop) {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 44px;
		height: 44px;
		border-radius: 50%;
		fill: #afb1b8;
		background: rgba(255, 255, 255, 0.1);
		&:hover,
		&:focus {
			background: $active-color;
			fill: #fff;
			transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
		}
	}
}
.team__member-social-networks:not(:first-child) {
	@include respond-to(dekstop) {
		margin-left: 10px;
	}
}
.team__member-image {
	@include respond-to(dekstop) {
		width: 270px;
		height: 260px;
	}
}
