body {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-size: 14px;
	color: $main-color;
}
.section {
	padding: 94px 0;
}
.container {
	@include respond-to(mobile) {
		width: 480px;
	}
	@include respond-to(dekstop) {
		padding: 0 15px;
		width: 1200px;
		margin: 0 auto;
	}
}
.hidden {
	overflow: hidden;
	opacity: 0;
	width: 1px;
	height: 1px;
	margin-bottom: -1px;
}
