$breakpoints: (
	"mobile": (
		min-width: 480px,
	),
	"tablet": (
		min-width: 768px,
	),
	"dekstop": (
		min-width: 1200px,
	),
	"dekstop-fhd": (
		min-width: 1919px,
	),
	"retina-apple": (),
) !default;
