.menu-button {
	display: none;
}

.menu-button {
	@include respond-to(tablet) {
		display: none;
	}
	display: inline-flex;
	border: none;
	background-color: transparent;
	position: absolute;
	right: 15px;
	bottom: 10px;
	z-index: 4;
}

.menu-button .cross {
	display: none;
}

.menu-button.is-open .cross {
	display: block;
}

.menu-button.is-open .menu {
	display: none;
}

.menu__container {
	display: none;
}

.menu__container {
	width: 100vw;
	height: 100vh;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	z-index: 3;
	@include respond-to(tablet) {
		position: relative;
		width: auto;
		height: auto;
		display: flex;
		align-items: center;
	}
}

.menu__container.is-open {
	display: block;
	position: fixed;
	overflow-y: scroll;
	@include respond-to(tablet) {
		display: inline-block;
		position: relative;
		overflow-y: hidden;
	}
}

.menu-button:focus {
	fill: #2196f3;
}
